<div class="container mb-3 user-form">
  <div class="card m-auto sign-form" style="width: 30rem">
    <div class="card-body">
      <h1 class="text-center mb-4">Login</h1>
      {{> message}}
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email" class="my-2">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <label for="password" class="my-2">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
        </div>
        <div class="d-grid my-1">
          <button type="submit" class="btn btn-warning btn-block mt-3">Login</button>
        </div>
        <div class="d-grid my-1">
          <a href="/auth/facebook" class="btn btn-primary btn-block">Facebook Login</a>
        </div>
      </form>
      <p class="lead mt-4 text-center">
        No Account? <a href="/users/register">Register</a>
    </div>
  </div>
</div>